.ui.styled.fluid.accordion
  .active.title
    i.dropdown.icon
    |     Cooperacion cientifica con francia (ECOS NORD)
  .active.content
    .ui.cards
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
  .title
    i.dropdown.icon
    |     Convocatorias becas al extranjero
  .content
    .ui.cards
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo

      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo

      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo

      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
  .title
    i.dropdown.icon
    |     Becas nacionales
  .content
    .ui.cards
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
      .card
        .content
          .header.card-haeder Convocatoria SEP-CONACYT-ANUIES-ECOS NORD Francia 2017
          .description
            | Cierra Diciembre/2017
        a(href="http://conacyt.gob.mx/index.php/el-conacyt/convocatorias-y-resultados-conacyt/convocatoria-de-cooperacion-cientifica-con-francia-ecos-nord-2016/13561-convocatoria-sep-conacyt-anuies-ecos-nord-francia-2017/file").ui.red.bottom.attached.button
          i.file.pdf.outline.icon
          |       Ver Archivo
  .title
    i.dropdown.icon
    |     Convocatorias catedras conacyt para jovenes investigadores
  .content
  .title
    i.dropdown.icon
    |     Convocatorias centros de investigacion conacyt
  .content
  .title
    i.dropdown.icon
    |     Convocatorias CIBIOGEM
  .content
  .title
    i.dropdown.icon
    |     Convocatorias CONACYT - Horizon2020
  .content
  .title
    i.dropdown.icon
    |     Convocatorias emitidas por otras instituciones
  .content
  .title
    i.dropdown.icon
    |     Convocatorias estancias posdoctorales nacionales
  .content
  .title
    i.dropdown.icon
    |     Convocatoria estancias posdoctorales al extranjero
  .content
  .title
    i.dropdown.icon
    |     Convocatorias Estancias Sabáticas
  .content
  .title
    i.dropdown.icon
    |     Convocatorias FONCICYT
  .content
  .title
    i.dropdown.icon
    |     Convocatorias Fondos Sectoriales Constituidos
  .content
  .title
    i.dropdown.icon
    |     Convocatorias Fondos Mixtos Constituidos
  .content
  .title
    i.dropdown.icon
    |     Convocatorias PNPC
  .content
  .title
    i.dropdown.icon
    |     Convocatorias Programas de Fortalecimiento Academico para Indigenas
  .content
  .title
    i.dropdown.icon
    |     Apoyo a madres jefas de familia
  .content
  .title
    i.dropdown.icon
    |     Sistema de clasificacion de revistas mexicanas de ciencia y tecnologia
  .content