// *********************************************************************************************************************
//     Colores mas destacados
// *********************************************************************************************************************
$color-primary: #2c3e50 !default;
$color-secundary: #34495e !default;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-notFound: #e95825;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-bg-color: #f8f8f8;
$brand-bg-container: #fff;
