//.ui.left.vertical.sidebar.menu#sidebar_container
.ui.left.vertical.sidebar.labeled.icon.menu#sidebar_container
  a(href="/home").item
    i.home.icon.grey
    |     Inicio

  a(href="/offers").item
    i.world.icon.grey
    |     Ofertas

  a(href="/demands").item
    i.travel.icon.grey
    |     Demandas

  a(href="/users").item
    i.users.icon.grey
    |     Usuarios

  a(href="/notices").item
    i.newspaper.icon.grey
    |     Noticias

  a(href="/community").item
    i.child.icon.grey
    |     Comunidades

  a(href="").item
    i.warning.icon.grey
    |     Configuracion OTecH

  a(href="/").item
    i.pointing.left.icon.red
    |     Regresar al OTecH

script.
  $('#sidebar').click(function () {
    $('#sidebar_container')
      .sidebar('setting', 'transition', 'overlay')
      .sidebar('toggle')
    ;
  })

