//.ui.left.vertical.sidebar.menu#sidebar_container
.ui.left.vertical.sidebar.labeled.icon.menu#sidebar_container
  a(href="/home").item
    i.home.icon
    |     Inicio
  a(href="/offers").item
    i.world.icon
    |     Ofertas
  a(href="/demands").item
    i.travel.icon
    |     Demandas
  a(href="/groups").item
    i.users.icon
    |     Grupos
  a(href="/community").item
    i.child.icon
    |     Comunidades
  a(href="/").item
    i.pointing.left.icon.red
    |     Regresar al OTecH

script.
  $('#sidebar').click(function () {
    $('#sidebar_container')
      .sidebar('setting', 'transition', 'overlay')
      .sidebar('toggle')
    ;
  })

