.row.center-xs
  .col-xs-11
    .ui.steps
      .completed.step
        i.truck.icon
        .content
          .title Registro
          .description Te has registrado correctamente
      .active.step
        i.wpforms.icon
        .content
          a.title(href="" data-tooltip="Click para completar tu registro" data-position="bottom left") Completar registro
          .description Ingresa la informacion faltante
      .disabled.step
        i.at.icon
        .content
          .title Comprueba tu correo
          .description Te hemos enviado un correo a tu direccion

