{
  "name": "otech",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "server/views/error404.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "server/public/scss/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "server",
      "server/views",
      "server/public",
      "server/public/scss",
      "server/public/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "server/views/demands.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/administrator/right_menu.pug"
      ]
    },
    {
      "path": "server/views/error404.pug",
      "imports": [
        "server/views/templates/template.pug"
      ]
    },
    {
      "path": "server/views/error505.pug",
      "imports": [
        "server/views/templates/template.pug"
      ]
    },
    {
      "path": "server/views/forgotpassword.pug",
      "imports": [
        "server/views/templates/template.pug"
      ]
    },
    {
      "path": "server/views/groups.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/administrator/right_menu.pug"
      ]
    },
    {
      "path": "server/views/home.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/administrator/right_menu.pug",
        "server/views/templates/errorMessage.pug"
      ]
    },
    {
      "path": "server/views/idi.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/templates/index/header.pug",
        "server/views/templates/IDi/convocations.pug",
        "server/views/templates/IDi/results.pug",
        "server/views/templates/IDi/national-funds.pug",
        "server/views/templates/index/footer.pug"
      ]
    },
    {
      "path": "server/views/index.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/templates/index/header.pug",
        "server/views/templates/index/slider.pug",
        "server/views/templates/index/whatweoffer.pug",
        "server/views/templates/index/concepts.pug",
        "server/views/templates/index/services.pug",
        "server/views/templates/index/publications.pug",
        "server/views/templates/index/offers.pug",
        "server/views/templates/index/footer.pug"
      ]
    },
    {
      "path": "server/views/lockscreen.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/templates/index/header.pug",
        "server/views/templates/index/footer.pug"
      ]
    },
    {
      "path": "server/views/offers.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/administrator/right_menu.pug"
      ]
    },
    {
      "path": "server/views/publications.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/administrator/right_menu.pug"
      ]
    },
    {
      "path": "server/views/settings.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/administrator/right_menu.pug"
      ]
    },
    {
      "path": "server/views/signin.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/templates/index/header.pug",
        "server/views/templates/errorMessage.pug"
      ]
    },
    {
      "path": "server/views/signup.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/templates/index/header.pug",
        "server/views/templates/errorMessage.pug"
      ]
    },
    {
      "path": "server/views/single.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/templates/index/header.pug",
        "server/views/templates/index/footer.pug"
      ]
    },
    {
      "path": "server/views/supportfunds.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/templates/index/header.pug",
        "server/views/templates/supportFunds/convocatorias.pug",
        "server/views/templates/supportFunds/resultados.pug",
        "server/views/templates/supportFunds/fondos.pug",
        "server/views/templates/supportFunds/estadisticas.pug",
        "server/views/templates/index/footer.pug"
      ]
    },
    {
      "path": "server/views/users.pug",
      "imports": [
        "server/views/templates/template.pug",
        "server/views/administrator/right_menu.pug"
      ]
    },
    {
      "path": "views/scss/styles.scss",
      "imports": [
        "views/scss/helpers/_sizes.scss",
        "views/scss/helpers/_mixins.scss",
        "views/scss/helpers/_colors.scss",
        "views/scss/helpers/_helpers.scss",
        "views/scss/helpers/_reset.scss",
        "views/scss/helpers/_btn.scss",
        "views/scss/components/index/_concepts.scss",
        "views/scss/components/index/_footer.scss",
        "views/scss/components/index/_header.scss",
        "views/scss/components/index/_offers.scss",
        "views/scss/components/index/_publications.scss",
        "views/scss/components/index/_services.scss",
        "views/scss/components/index/_slider.scss",
        "views/scss/components/index/_whatweoffer.scss",
        "views/scss/components/signin/_form.scss",
        "views/scss/components/IDi/_national-funds.scss",
        "views/scss/components/single/_single.scss"
      ]
    },
    {
      "path": "server/public/scss/styles.scss",
      "imports": [
        "server/public/scss/helpers/_sizes.scss",
        "server/public/scss/helpers/_mixins.scss",
        "server/public/scss/helpers/_colors.scss",
        "server/public/scss/helpers/_helpers.scss",
        "server/public/scss/helpers/_reset.scss",
        "server/public/scss/helpers/_btn.scss",
        "server/public/scss/components/index/_concepts.scss",
        "server/public/scss/components/index/_footer.scss",
        "server/public/scss/components/index/_header.scss",
        "server/public/scss/components/index/_offers.scss",
        "server/public/scss/components/index/_publications.scss",
        "server/public/scss/components/index/_services.scss",
        "server/public/scss/components/index/_slider.scss",
        "server/public/scss/components/index/_whatweoffer.scss",
        "server/public/scss/components/signin/_form.scss",
        "server/public/scss/components/IDi/_national-funds.scss",
        "server/public/scss/components/single/_single.scss"
      ]
    },
    {
      "path": "views/scss/ed-grid/ed-grid.scss",
      "imports": [
        "views/scss/ed-grid/components/_functions.scss",
        "views/scss/ed-grid/components/_base.scss",
        "views/scss/ed-grid/components/_media-queries.scss",
        "views/scss/ed-grid/components/_helpers.scss",
        "views/scss/ed-grid/components/_dev.scss",
        "views/scss/ed-grid/components/_core.scss",
        "views/scss/ed-grid/components/_grid.scss",
        "views/scss/ed-grid/components/_visibility.scss",
        "views/scss/ed-grid/components/_video.scss",
        "views/scss/ed-grid/components/_ed-menu.scss",
        "views/scss/ed-grid/components/_flexbox.scss",
        "views/scss/ed-grid/components/_offset.scss",
        "views/scss/ed-grid/components/_buttons.scss",
        "views/scss/ed-grid/components/_css-core.scss",
        "views/scss/ed-grid/components/_css-helpers.scss"
      ]
    },
    {
      "path": "server/public/scss/ed-grid/ed-grid.scss",
      "imports": [
        "server/public/scss/ed-grid/components/_functions.scss",
        "server/public/scss/ed-grid/components/_base.scss",
        "server/public/scss/ed-grid/components/_media-queries.scss",
        "server/public/scss/ed-grid/components/_helpers.scss",
        "server/public/scss/ed-grid/components/_dev.scss",
        "server/public/scss/ed-grid/components/_core.scss",
        "server/public/scss/ed-grid/components/_grid.scss",
        "server/public/scss/ed-grid/components/_visibility.scss",
        "server/public/scss/ed-grid/components/_video.scss",
        "server/public/scss/ed-grid/components/_ed-menu.scss",
        "server/public/scss/ed-grid/components/_flexbox.scss",
        "server/public/scss/ed-grid/components/_offset.scss",
        "server/public/scss/ed-grid/components/_buttons.scss",
        "server/public/scss/ed-grid/components/_css-core.scss",
        "server/public/scss/ed-grid/components/_css-helpers.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"autoCompile\":false}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}