extends templates/template
block title
  | Comunidades
block main
  .row.center-xs.nav-menu
    .col-xs-12
      .ui.secondary.menu
        a.item(id="sidebar")
          i.sidebar.icon
          | Menu
        .item
          .ui.small.breadcrumb
            a.section(href="/home") Inicio
            i.right.chevron.icon.divider
            .active.section Comunidades
        .right.menu
          include administrator/right_menu
  include administrator/sidebar
  include templates/errorMessage
  include templates/push-notifications
  .ui.segments.no-margin-top
    .ui.segment
      h2.ui.center.aligned.icon.header.grey
        i.circular.users.icon
        |   Comunidades
    .ui.segment.grey
      a(href="/")
        button.ui.active.button.green
          i.plus.icon
          | Crear Comunidad
      a(href="/")
        button.ui.active.button
          i.eye.icon
          | Mis comunidades

  // Main
  - var card = 0;
  .row.center-xs
    .col-xs-11.start-xs
      .grid-card
        .ui.special.four.cards
          while card < 18
            .card.center-panel
              .blurring.dimmable.image
                .ui.dimmer
                  .content
                    .center
                      .ui.inverted.button Unirme
                img(src="http://lorempixel.com/300/220")
              .content
                a.header Community #{card++}
                .description
                  p  descripcion breve sobre la comunidad muy breve
              .extra.content
                a: i.users.icon
                | 2 Members

    script.
      $('.special.cards .image').dimmer({
        on: 'hover'
      });
