extends ./templates/template
block main
  #particles-js
    .row.center-xs.middle-xs.container-1
      .col-xs-4
        .panel-error
          .panel-error__title
            span Error de servidor
            h2 Parece que algo salio mal!
          .panel-error__main
            p Estamos trabajando para solucionarlo lo antes posible
            a(href="/" class="boton boton-md normal") Regresar al inicio
