extends ./templates/template
block main
  #particles-js
    .row.center-xs.middle-xs.container-1
      .col-xs-4
        .panel-error
          .panel-error__title
            span Pagina no encotrada
            h2 La pagina que solicito no ha sido localizada!
          .panel-error__main
            p La URL puede estar mal escrita o la página que busca no está disponible
            a(href="/" class="boton boton-md normal") Regresar al inicio
