extends ./templates/template
block main
  #particles-js
    .row.center-xs.middle-xs.container-1
      .col-xs-5
        .panel-error
          .panel-error__title
            h2 多Olvidaste tu contrase単a?
          .panel-error__main
            p Ingresa tu correo electronico y te enviaremos los pasos a seguir para cambiar tu contrase単a
            form(class="ui form")
              .field
                label Correo Electronico
                input(type="email" placeholder="Correo Electronico")
            .row-sm
            button(class="ui green right labeled icon button") Restablecer contrase単a
              i.right.arrow.icon
