extends templates/template
block title
  | Groups
block main
  .row.center-xs.nav-menu
    .col-xs-12
      .ui.secondary.menu
        a.item(id="sidebar")
          i.sidebar.icon
          | Menu
        .item
          .ui.small.breadcrumb
            a.section(href="/home") Inicio
            i.right.chevron.icon.divider
            .active.section Grupos
        .right.menu
          include administrator/right_menu
  include administrator/sidebar
  include templates/errorMessage
  include templates/push-notifications
  .ui.segments.no-margin-top
    .ui.segment
      h2.ui.center.aligned.icon.header.blue
        i.circular.users.icon.blue
        |   Grupos
    .ui.segment.blue
      button.ui.active.button.green#openFormNew
        i.plus.icon
        | Crear Grupo
      script.
        $('#openFormNew').click(function () {
          $('#formNewGroup')
            .modal('setting', 'closable', false)
            .modal('show')
          ;
          $('#second')
            .modal('attach events', '#formNewGroup .button')
            .modal('setting', 'closable', false)
          ;
        })
      a(href="/")
        button.ui.active.button
          i.eye.icon
          | Mis grupos
  .ui.segments
    h5.ui.top.attached.header
      | Invitaciones
    .ui.segment
      -var card = 0
      .row.center-xs
        .col-xs-11.start-xs
          .ui.cards
            while card < 2
              .card
                .content
                  img.right.floated.mini.ui.image(src='http://lorempixel.com/35/35')
                  .header
                    | Developers #{card}
                  .meta
                    | Categorias de los grupos
                  .description
                    | Descripcion del grupo en general
                .extra.content
                  .ui.two.buttons
                    .ui.basic.green.button Aceptar
                    .ui.basic.red.button Rechazar
              -card++
    .ui.bottom.attached.yellow.message
      i.warning.icon
      |   ¡Tienes invitaciones pendientes para unirte a los siguientes grupos!
    h5.ui.top.attached.header
      | Grupos
    .ui.segment
      -var grupos = 0
      .ui.divided.items
        while grupos < 8
          .item
            .image
              img(src='http://lorempixel.com/175/145')
            .content
              a.header Titulo
              .meta
                span.cinema Numero de miembros
              .description
                p Mini Descripcion
              .extra
                .ui.right.floated.green.button.btnApproveGroup
                  | Unirte
                  i.right.plus.icon
                .ui.icon.top.left.pointing.dropdown.button.right.floated.button
                  i.settings.icon
                  .menu
                    .header Opciones del grupo
                    .item Agregar a favoritos
                    .item Recordarmelo mas tarde
                    .item Ocultar
                .ui.label Pachuca
                .ui.label Tags
                .ui.label Filtros
          -grupos++
          script.
            $('.ui.dropdown')
              .dropdown()
            ;

  // Formulario Nuevos grupos
  .ui.modal#formNewGroup
    i.close.icon
    .header
      | Nuevo grupo
      .content_form
        .ui.segment
          form.ui.fluid.form(method="POST" action="" enctype="multipart/form-data")
            .field
              label Nombre del grupo
              input(type="text" name="nameGroup" placeholder="Nombre")
            .field
              label Descripcion
              textarea
            .field
              .ui.checkbox
                input.hidden(type='checkbox', tabindex='0')
                label Grupo privado
            script.
              $('.ui.checkbox')
                .checkbox()
              ;
            .field
              label Logotipo del grupo
              input(type="file")
            //todo Esto puede hacerse con ajax, y jquery para que cuando se presione el boton, se envie el form por post
            button.ui.button.positive.right.labeled.icon(type='button')
              | Guardar cambios
              i.plus.icon
        script.
          $('.ui.accordion')
            .accordion()
          ;
  .ui.modal#second
    i.close.icon
    .header
      | Muy bien hecho
    .image.content
      .description
        | El grupo se ha creado con exito, termina de configurarlo y comienza a agregar nuevos miembros
    .actions
      .ui.button.positive OK
  // Modal Unirte aviso
  .ui.modal#approveGroup
    .header
      | Enviado
    .image.content
      .description
        | Tu solicitud ha sido enviada a este grupo
    .actions
      .ui.button.positive OK
    script.
      $('.btnApproveGroup').click(function () {
        $('#approveGroup')
          .modal({
            inverted: true
          })
          .modal('setting', 'closable', false)
          .modal('show')
        ;
      })

