extends templates/template
block main
  .row.center-xs.nav-menu
    .col-xs-12
      .ui.secondary.menu
        a.item(id="sidebar")
          i.sidebar.icon
          | Menu
        .item
          .ui.small.breadcrumb
            .active.section Inicio
        a.item.lasted(href="/" data-tooltip="Regresa a la pagina del OTecH" data-position="bottom left")
          button.ui.red.basic.button
            i.arrow.left.icon
            |   OTecH
        .right.menu
          include administrator/right_menu
  include administrator/sidebar
  include templates/errorMessage
  .ui.segment.orange.no-margin-top
    h2.ui.center.aligned.icon.header.orange
      i.circular.user.icon.orange
      |   Panel de Administracion
    .space-sm
      include administrator/step
    .row.center-xs
      .col-xs-11
        button.ui.active.button
          i.user.icon
          |   Grupos
        button.ui.active.button
          i.user.icon
          |   Publicaciones
        button.ui.active.button
          i.user.icon
          |   Comunidad

  // Seccion de widgets principales
  .space-sm
  .row.center-xs
    .col-xs-11.start-xs
      .ui.four.cards
        .red.card
          .content
            .header Ofertas y Demandas
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      i.plane.icon.red
                      |  963
                    .label
                      | Publicaciones
        .red.card
          .content
            .header Comunidad
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      i.plane.icon.red
                      |  88
                    .label
                      | Grupos
        .red.card
          .content
            .header Comunidad
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      img.ui.circular.inline.image(src='http://lorempixel.com/50/50')
                      |  225
                    .label
                      | Usuarios
        .red.card
          .content
            .header Administracion
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      img.ui.circular.inline.image(src='http://lorempixel.com/50/50')
                      |  3
                    .label
                      | Moderadores
  .space-sm
  .row.center-xs
    .col-xs-11
      .row.start-xs
        .col-xs-9
          .ui.piled.segment
            .content
              h2.header ¿Que esta pasando en este momento?
            .ui.feed
              .event
                .label
                  img(src='http://lorempixel.com/35/35')
                .content
                  .summary
                    a.user
                      | Elliot Fu
                    |  added you as a friend
                    .date
                      | 1 Hour Ago
                  .meta
                    a.like
                      i.like.icon
                      |  4 Likes
              .event
                .label
                  img(src='http://lorempixel.com/35/35')
                .content
                  .summary
                    a Helen Troy
                    |  added
                    a 2 new illustrations
                    .date
                      | 4 days ago
                  .extra.images
                    a
                      img(src='http://lorempixel.com/84/84')
                    a
                      img(src='http://lorempixel.com/84/84')
                  .meta
                    a.like
                      i.like.icon
                      |  1 Like
              .event
                .label
                  img(src='http://lorempixel.com/35/35')
                .content
                  .summary
                    a.user
                      | Jenny Hess
                    |  added you as a friend
                    .date
                      | 2 Days Ago
                  .meta
                    a.like
                      i.like.icon
                      |  8 Likes
              .event
                .label
                  img(src='http://lorempixel.com/35/35')
                .content
                  .summary
                    a Joe Henderson
                    |  posted on his page
                    .date
                      | 3 days ago
                  .extra.text
                    | Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                  .meta
                    a.like
                      i.like.icon
                      |  5 Likes
              .event
                .label
                  img(src='http://lorempixel.com/35/35')
                .content
                  .summary
                    a Justen Kitsune
                    |  added
                    a 2 new photos
                    |  of you
                    .date
                      | 4 days ago
                  .extra.images
                    a
                      img(src='http://lorempixel.com/84/84')
                    a
                      img(src='http://lorempixel.com/84/84')
                  .meta
                    a.like
                      i.like.icon
                      |  41 Likes
        .col-xs-3
          .ui.card
            .content
              .header Grupos al que pertenezco
            .content
              .ui.relaxed.divided.list.font-size-09
                .item
                  i.large.github.middle.aligned.icon
                  .content
                    a.header Semantic-Org/Semantic-UI
                    .description Updated 10 mins ago
                .item
                  i.large.github.middle.aligned.icon
                  .content
                    a.header Semantic-Org/Semantic-UI-Docs
                    .description Updated 22 mins ago
                .item
                  i.large.github.middle.aligned.icon
                  .content
                    a.header Semantic-Org/Semantic-UI-Meteor
                    .description Updated 34 mins ago
                .item
                  i.large.github.middle.aligned.icon
                  .content
                    a.header Semantic-Org/Semantic-UI-Meteor
                    .description Updated 34 mins ago
            .content
              .header Mis grupos
            .content
              .ui.relaxed.divided.list.font-size-09
                .item
                  i.large.github.middle.aligned.icon
                  .content
                    a.header Semantic-Org/Semantic-UI-Meteor
                    .description Updated 34 mins ago
                .item
                  i.large.github.middle.aligned.icon
                  .content
                    a.header Semantic-Org/Semantic-UI-Meteor
                    .description Updated 34 mins ago
                .item
                  i.large.github.middle.aligned.icon
                  .content
                    a.header Semantic-Org/Semantic-UI-Meteor
                    .description Updated 34 mins ago
                .item
                  i.large.github.middle.aligned.icon
                  .content
                    a.header Semantic-Org/Semantic-UI-Meteor
                    .description Updated 34 mins ago

  .space-sm
  .row.center-xs
    .col-xs-11.start-xs
      .ui.segments
        h5.ui.top.attached.header
          | Solicitudes de Ammistad
        .ui.segment
          .ui.cards
            .card
              .content
                img.right.floated.mini.ui.image(src='http://lorempixel.com/35/35')
                .header
                  | Elliot Fu
                .meta
                  | Friends of Veronika
                .description
                  | Elliot requested permission to view your contact details
              .extra.content
                .ui.two.buttons
                  .ui.basic.green.button Approve
                  .ui.basic.red.button Decline
        .ui.bottom.attached.yellow.message
          i.warning.icon
          |   ¡Tienes algunas solicitudes de amistad pendientes, Revisalos!

  .space-sm


  .row.center-xs
    .col-xs-11
      .ui.four.cards
        .red.card.start-xs
          .content
            .header Ofertas y Demandas
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      i.plane.icon.red
                      |  963
                    .label
                      | Publicaciones
        .red.card.start-xs#aaa
          .content
            .header Ofertas y Demandas
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      i.plane.icon.red
                      |  963
                    .label
                      | Publicaciones
        .red.card.start-xs#aaaaa
          .content
            .header Ofertas y Demandas
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      i.plane.icon.red
                      |  963
                    .label
                      | Publicaciones






  .ui.segment
    button#button Next
    button Next Hover
  script.
    $('#aaa')
      .transition('vertical flip')
      .transition('clear queue')
    ;
    $('#button').click(function () {
      $('#aaaaa')
        .transition('fly left')
      ;
      $('#aaa')
        .transition('vertical flip')
      ;
    })
  //  $('#card3').click(function () {
  //    $('.shape3')
  //      .shape('set next side', '.second.side')
  //      .shape('flip left')
  //    ;
  //  })
  //  $('#card4').hover(
  //    function () {
  //      $('.shape5').shape('flip over');
  //    },
  //    function () {
  //      $('.shape4').shape('flip back');
  //    }
  //  )

