extends templates/template
block title
  | Inicio
block main
  .row.center-xs.nav-menu
    .col-xs-12
      .ui.secondary.menu
        a.item(id="sidebar")
          i.sidebar.icon
          | Menu
        .item
          .ui.small.breadcrumb
            .active.section Inicio
        a.item.lasted(href="/" data-tooltip="Regresa a la pagina del OTecH" data-position="bottom left")
          button.ui.red.basic.button
            i.arrow.left.icon
            |   OTecH
        .right.menu
          include administrator/right_menu
  include administrator/sidebar
  include templates/errorMessage
  include templates/push-notifications
  .ui.segment.teal.no-margin-top
    h2.ui.center.aligned.icon.header.teal
      i.circular.user.icon
      |   Panel de Administracion
    .space-sm
      include administrator/step

  // Seccion de widgets principales
  .row.center-xs
    .col-xs-5
      h2.ui.header
        | Estadisticas en tiempo real
        .sub.header Puedes observar en tiempo real datos sobre lo que el OTecH administra
  .space-sm
  .row.center-xs
    .col-xs-11.col-lg-10.start-xs
      .ui.four.cards
        .red.card
          .content
            .header Ofertas
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      i.plane.icon.red
                      |  963
                    .label
                      | Ofertas disponibles
        .red.card
          .content
            .header Demandas
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      i.plane.icon.red
                      |  1788
                    .label
                      | Demandas disponibles
        .red.card
          .content
            .header Comunidades
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      img.ui.circular.inline.image(src='http://lorempixel.com/50/50')
                      |  225
                    .label
                      | Comunidades disponibles
        .red.card
          .content
            .header Usuarios
            .meta En tiempo real
            .description
              .row.center-xs
                .ui.statistics
                  .statistic
                    .value
                      img.ui.circular.inline.image(src='http://lorempixel.com/50/50')
                      |  15
                    .label
                      | Usuarios disponibles
  .space-sm
  .row.center-xs
    .col-xs-11
      .row.start-xs
        .col-xs-9
          .ui.segments
            .ui.segment
              .content
                h2.header Agrega un comentario
              form.ui.reply.form
                .field
                  textarea
                .ui.blue.labeled.submit.icon.button
                  i.icon.edit
                  |  Comentar

            .ui.segment.teal
              .content
                h2.header ¿Que esta pasando en este momento?
              .ui.feed
                -var event = 0
                while event < 5
                  .event
                    .label
                      img(src='http://lorempixel.com/35/35')
                    .content
                      .summary
                        a.user
                          | Elliot Fu
                        |  te agrego como su amigo
                        .date
                          | 1 Hour Ago
                      .meta
                        a.like
                          i.like.icon
                          |  4 Likes
                  .event
                    .label
                      img(src='http://lorempixel.com/35/35')
                    .content
                      .summary
                        a Helen Troy
                        |  subio
                        a 2 nuevas imagenes en el grupo NOMBRE_GRUPO
                        .date
                          | 4 days ago
                      .extra.images
                        a
                          img(src='http://lorempixel.com/84/84')
                        a
                          img(src='http://lorempixel.com/84/84')
                      .meta
                        a.like
                          i.like.icon
                          |  1 Like
                  .event
                    .label
                      img(src='http://lorempixel.com/35/35')
                    .content
                      .summary
                        a Joe Henderson
                        |  publico en el grupo NOMBRE_GRUPO
                        .date
                          | 3 days ago
                      .extra.text
                        | Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                      .meta
                        a.like
                          i.like.icon
                          |  5 Likes
                  .event
                    .label
                      i.pencil.icon.teal
                    .content
                      .summary
                        a Joe Henderson
                          |  publico una nueva OFERTA en el grupo NOMBRE_GRUPO
                        .date
                          | 3 days ago
                      .extra.text
                        | Busco trabajadores
                      .meta
                        a.like
                          i.like.icon
                          |  11 Likes
                  -event++
            .ui.segment.orange
              .content
                h2.header Noticias de hace un dia
              .ui.feed
                -var event1 = 0
                while event1 < 5
                  .event
                    .label
                      img(src='http://lorempixel.com/35/35')
                    .content
                      .summary
                        a.user
                          | Elliot Fu
                        |  te agrego como su amigo
                        .date
                          | 1 Hour Ago
                      .meta
                        a.like
                          i.like.icon
                          |  4 Likes
                  .event
                    .label
                      img(src='http://lorempixel.com/35/35')
                    .content
                      .summary
                        a Helen Troy
                        |  subio
                        a 2 nuevas imagenes en el grupo NOMBRE_GRUPO
                        .date
                          | 4 days ago
                      .extra.images
                        a
                          img(src='http://lorempixel.com/84/84')
                        a
                          img(src='http://lorempixel.com/84/84')
                      .meta
                        a.like
                          i.like.icon
                          |  1 Like
                  -event1++
        .col-xs-3
          .ui.card
            .content
              .header Grupos al que pertenezco
            .content
              .ui.relaxed.divided.list
                // todo Maximo se deben de mostrar 6 elementos
                -var groups = 0
                while groups < 6
                  .item
                    i.large.users.middle.aligned.icon
                    .content
                      a.header Ventas pachuca #{groups}
                      .description Actualizado hace 4#{groups} mins
                  -groups++
            .content
              .header Mis grupos
            .content
              .ui.relaxed.divided.list
                -var myGroups = 0
                while myGroups < 6
                  .item
                    i.large.child.middle.aligned.icon
                    .content
                      a.header Grupo #{myGroups + 1}
                      .description Actualizado hace 1#{myGroups} mins
                  -myGroups++

  .space-sm
  //.row.center-xs
  //  .col-xs-11.start-xs
  //    .ui.segments
  //      h5.ui.top.attached.header
  //        | Solicitudes de Ammistad
  //      .ui.segment
  //        .ui.cards
  //          .card
  //            .content
  //              img.right.floated.mini.ui.image(src='http://lorempixel.com/35/35')
  //              .header
  //                | Elliot Fu
  //              .meta
  //                | Friends of Veronika
  //              .description
  //                | Elliot requested permission to view your contact details
  //            .extra.content
  //              .ui.two.buttons
  //                .ui.basic.green.button Approve
  //                .ui.basic.red.button Decline
  //      .ui.bottom.attached.yellow.message
  //        i.warning.icon
  //        |   ¡Tienes algunas solicitudes de amistad pendientes, Revisalos!
  //.space-sm

