extends ./templates/template
block title
  | OTecH
block main
  //- Seccion del menu principal de navegacion
  include ./templates/index/header
    block menu
      li: a.active(href='/') Inicio
      li: a(href='/offers-demands') Oferta y Demanda
      li: a(href='/support-funds') Fondos de Apoyo
      li: a(href='/idis') I+D+I
      li: a(href='/technological-information') Perspectivas
      if(user)
        li
          .ui.buttons
            .ui.button.red.basic(data-tooltip="Click en la flecha a la derecha" data-position="bottom left") Administracion
            .ui.floating.dropdown.icon.button.red.basic
              i.dropdown.icon
              .menu
                a.item.reset_a(href="/home" data-tooltip="Ingresa al panel de Administracion" data-position="bottom left")
                  i.home.icon
                  |  Home
                a.item.reset_a(href="/accounts/logout" data-tooltip="Cierra la sesion activa" data-position="bottom left")
                  i.delete.icon
                  |  Cerrar sesion
      else
        li
          button.ui.basic.button#comenzar(data-tooltip="Inicia sesion o registrate" data-position="bottom left" data-inverted="")
            i.icon.sign.in
            |   Comenzar
          script.
            $('#comenzar').click(function () {
              window.location.href = "/accounts/signin"
            })
  //- Seccion del slider principal de imagene s sobre el observatorio
  include ./templates/index/slider
  //- Seccion que ofrecemos, quienes somos
  include ./templates/index/whatweoffer
  //- Seccion donde se muestran los conceptos del Observatorio, Vision, Mision, Perfil
  include ./templates/index/concepts
  //- Seccion donde se muestran los servicios del Observatorio
  include ./templates/index/services
  //- Seccion donde se muestran las publicaciones del Observatorio
  include ./templates/index/publications
  //- Seccion donde se muestra las principales ofertas que existen
  include ./templates/index/offers
  //- Seccion final del Observatorio
  include ./templates/index/footer

  script.
    $('.ui.dropdown')
      .dropdown()
    ;

