extends templates/template
block title
  | Publicaciones
block main
  .row.center-xs.nav-menu
    .col-xs-12
      .ui.secondary.menu
        a.item(id="sidebar")
          i.sidebar.icon
          | Menu
        .item
          .ui.small.breadcrumb
            a.section(href="/home") Inicio
            i.right.chevron.icon.divider
            .active.section Publicaciones
        .right.menu
          include administrator/right_menu
  include administrator/sidebar
  include templates/errorMessage
  include templates/push-notifications
  .ui.segment.brown.no-margin-top
    h2.ui.center.aligned.icon.header.brown
      i.circular.users.icon.brown
      |   Publicaciones
