extends templates/template
block title
  | Configuracion OTecH
block main
  .row.center-xs.nav-menu
    .col-xs-12
      .ui.secondary.menu
        a.item(id="sidebar")
          i.sidebar.icon
          | Menu
        .item
          .ui.small.breadcrumb
            a.section.section-a(href="/home") Inicio
            i.right.chevron.icon.divider
            .active.section Configuracion OTecH
        .right.menu
          include administrator/right_menu
  include administrator/sidebar
  include templates/errorMessage
  include templates/push-notifications
  .ui.segment.teal.no-margin-top
    h2.ui.center.aligned.icon.header.teal
      i.circular.users.icon
      |   Configuracion OTecH

  #example1.ui.teal.progress(data-percent='30')
    .bar
    .label 30% de avance en esta pagina
  .space-lg
  h2.ui.center.aligned.icon.header.huge
    i.warning.circle.icon#icon
    |   Lo sentimos pero esta pagina aun esta en desarrollo. Pronto se vendran novedades interesantes
  script.
    $('#example1').progress();
    $('#icon')
      .transition('set looping')
      .transition('bounce', '2000ms')
    ;

