extends ./templates/template
block main
  include ./templates/index/header
    block menu
      li: a(href='/') Inicio
      li: a(href='/offers-demands') Oferta y Demanda
      li: a.active(href='/support-funds') Fondos de Apoyo
      li: a(href='/idis') I+D+I
      li: a(href='/technological-information') Informacion tecnologica
      li: a(href='/accounts/signin' class="btn-primary btn-outline btn-white" data-tooltip="Inicia sesion o registrate" data-position="bottom left" data-inverted="") Comenzar
  .row-xs
  .row.center-xs.context1
    .col-xs-12.start-xs
      #context1
        .ui.secondary.menu
          a.item.active(data-tab='1') Convocatorias vigentes
          a.item(data-tab='2') Resultados
          a.item(data-tab='3') Fondos nacionales
          a.item(data-tab='4') Estadisticas
        .ui.active.tab.segment(data-tab='1')
          include ./templates/supportFunds/convocatorias
        .ui.tab.segment(data-tab='2')
          include ./templates/supportFunds/resultados
        .ui.tab.segment(data-tab='3')
          include ./templates/supportFunds/fondos
        .ui.tab.segment(data-tab='4')
          include ./templates/supportFunds/estadisticas
  script.
    $('#context1 .menu .item')
      .tab({
        context: 'parent'
      })
    ;
    $('.ui.accordion')
      .accordion()
    ;
  include ./templates/index/footer
