extends ./templates/template
block title
  | Perspectivas
block main
  include ./templates/index/header
    block menu
      li: a(href='/') Inicio
      li: a(href='/offers-demands') Oferta y Demanda
      li: a(href='/support-funds') Fondos de Apoyo
      li: a(href='/idis') I+D+I
      li: a.active(href='/technological-information') Perspectivas
      if(user)
        li
          .ui.buttons
            .ui.button.red.basic(data-tooltip="Click en la flecha a la derecha" data-position="bottom left") Administracion
            .ui.floating.dropdown.icon.button.red.basic
              i.dropdown.icon
              .menu
                a.item.reset_a(href="/home" data-tooltip="Ingresa al panel de Administracion" data-position="bottom left")
                  i.home.icon
                  |  Home
                a.item.reset_a(href="/accounts/logout" data-tooltip="Cierra la sesion activa" data-position="bottom left")
                  i.delete.icon
                  |  Cerrar sesion
        script.
          $('.ui.dropdown')
            .dropdown()
          ;
      else
        li
          button.ui.basic.button#comenzar(data-tooltip="Inicia sesion o registrate" data-position="bottom left" data-inverted="")
            i.icon.sign.in
            |   Comenzar
          script.
            $('#comenzar').click(function () {
              window.location.href = "/accounts/signin"
            })
  .row.center-xs
    .col-xs-11.start-xs
      .ui.tabular.menu
        .item.active.cursor-pointer(data-tab='technology') Observatorios Tecnologicos
        .item.cursor-pointer(data-tab='social') Observatorio Ciudadano social
        .item.cursor-pointer(data-tab='agronomy') Observatorios Agroindustriales
      .ui.tab.active(data-tab='technology')
        .ui.segment
          .row.center-xs
            .col-xs-11.start-xs
              include ./templates/observatorios/observatorios
        .space-md
      .ui.tab(data-tab='social')
        .ui.segment
          .row.center-xs
            .col-xs-11.start-xs
              include ./templates/observatorios/observatorios2
        .space-md
      .ui.tab(data-tab='agronomy')
        .ui.segment
          .row.center-xs
            .col-xs-11.start-xs
              include ./templates/observatorios/observatorios3
        .space-md


  script.
    $('.tabular.menu .item').tab();
  include ./templates/index/footer


