extends templates/template
block title
  | Ofertas
block main
  .row.center-xs.nav-menu
    .col-xs-12
      .ui.secondary.menu
        a.item(id="sidebar")
          i.sidebar.icon
          | Menu
        .item
          .ui.small.breadcrumb
            a.section(href="/home") Inicio
            i.right.chevron.icon.divider
            .active.section Usuarios
          button#openModalDemands.ui.active.button.basic.green.margin-sm-left(data-tooltip="Es necesario llenar todos los campos" data-position="right center" data-inverted="")
            i.plus.icon
            | Crear Usuario
          script.
            $('#openModalDemands').click(function () {
              $('.ui.modal#demands')
                .modal('setting', 'closable', false)
                .modal('show')
              ;
            })
        .right.menu
          include administrator/right_menu
  include administrator/sidebar
  include templates/errorMessage
  include templates/push-notifications

  .ui.segment.teal.no-margin-top
    h2.ui.center.aligned.icon.header.teal
      i.circular.users.icon.teal
      |   Usuarios
  .space-xs
  //Tabla para visualizar todos los usuarios modo Administrador
  .row.center-xs
    .col-xs-11.start-lg
      table.ui.teal.sortable.celled.table.no-margin-top
        thead
          tr
            th: span(data-tooltip="Datos principales del usuario" data-position="right center") User
            th: span(data-tooltip="Usuarios que son Administradores" data-position="bottom right") Administrator
            th: span(data-tooltip="Cuentas verificadas por correo" data-position="bottom right") Verified
            th: span(data-tooltip="Fecha de registro" data-position="bottom right") Registration Date
            th: span(data-tooltip="Fecha de la ultima modificacion" data-position="bottom right") Update Date
            th: span(data-tooltip="Cuentas enlazadas con redes sociales" data-position="bottom right") Social Network
            th: span(data-tooltip="Cambiar a modo administrador/usuario" data-position="bottom right") Role
            th: span(data-tooltip="Operaciones que puedes realizar" data-position="bottom right") CRUD
        tbody
          - var users = 1;
          while users < 14
            tr
              td
                h4.ui.image.header
                  img.ui.mini.rounded.image(src='http://lorempixel.com/27/27/')
                  .content
                    | Eder Marcos
                    .sub.header
                      | skrap.marcos@gmail.com
              td.center.aligned
                i.green.circle.check.icon
              td.center.aligned
                i.green.circle.check.icon
              td #{users}/Noviembre/20#{users}
              td #{users}/Enero/20#{users} 08:31
              td.center.aligned
                i.green.circle.check.icon
              td.collapsing
                .ui.fitted.slider.checkbox
                  input(type='checkbox')
                  label
              td.center.aligned
                .ui.small.basic.icon.buttons
                  a.ui.button(href="" data-tooltip="Editar" data-position="bottom right")
                    i.edit.icon.green
                  a.ui.button(href="" data-tooltip="Ver" data-position="bottom right")
                    i.unhide.icon.blue
                  a.ui.button(href="" data-tooltip="Eliminar" data-position="bottom right")
                    i.delete.icon.red
            -users++
        tfoot
          tr
            th(data-tooltip="Total de usuarios" data-position="top right") 2 Users
            th(data-tooltip="Total de administradores" data-position="top right") 2 Administrators
            th(data-tooltip="Total de cuentas verificadas" data-position="top right") 2 Accounts
            th(colspan='2')
            th(data-tooltip="Total de cuentas enlazadas" data-position="top right") 3 Accounts
            th(colspan='2')
          tr
            th(colspan='8')
              .ui.green.small.button
                | Cambiar role
              // todo Agregar validacion, is hay mas de 1 elemento seleccionado, se activa
              .ui.small.disabled.button
                | Cambiar role a los seleccionados
  .space-xs
