extends ../../layout/layoutIndex

block title
  title Nuevos Archivos

block main
  .row.center-xs
    .col-xs-5
      h3  Crear Archivo
  .row.center-xs
    .col-xs-5
      form(method="POST" action="/files" )
        .input-field.col.s12
          label(for="title") Título:
          input(type="text", class="validate", name="name", id="name")
        .input-field.col.s12
          textarea.materialize-textarea(type="text" rows= "5" id="sample5" data-length="100" name="description")
          label(class="mdl-textfield__label" for="sample5" name="descriptio2n") Contenido texto
        .input-field.col.s12
          label(for="category") Categoria:
          input(type="text", class="validate", name="category", id="category")
        .input-field.col.s12
          .file-field.input-field
            .btn
              span File
              input(type="file", name="image", id="image")
            .file-path-wrapper
              input(type="text", class="file-path validate")
        div
          input(type="submit", class="btn", name="btn", id="btn", value="Publicar")
