// Variables que pueden ayudar en el diseño
$top-space: 40px !default;
$bottom-space: 40px !default;
$border-radius-base: 4px !default;
.ui.horizontal.list:not(.celled)>.margin-edit:first-child {
  margin-left: 14px !important;
}

$posiciones: (
  top,
  left,
  right,
  bottom
);
.border {
  border: 1px solid red !important;
}
// Border
@each $p in $posiciones {
  .border-#{$p} {
    border-#{$p}: 1px solid #000;
  }
  .no-border-#{$p} {
    border-#{$p}: none !important;
  }
  .padding-#{$p} {
    padding-#{$p}: 1em;
  }
}

.mini-padding-top {
  padding-top: 0.2em !important;
}

// Margenes por lado
@each $p in $posiciones {
  $i: index($posiciones, $p);
  .margin-#{$p} {
    margin-#{$p}: 1em !important;
  }
  .margin-xs-#{$p} {
    margin-#{$p}: 1em !important;
  }
  .margin-sm-#{$p} {
    margin-#{$p}: 2em !important;
  }
  .margin-md-#{$p} {
    margin-#{$p}: 4em !important;
  }
  .margin-lg-#{$p} {
    margin-#{$p}: 6em !important;
  }
  .margin-xl-#{$p} {
    margin-#{$p}: 10em !important;
  }
}

//Fila con padding-bottom largo
.row-bottom-padded-lg {
  padding-bottom: 7em;
  @media screen and (max-width: $screen-sm ) {
    padding-bottom: 1em;
  }
}
//Fila con padding-bottom mediano
.row-bottom-padded-md {
  padding-bottom: 4em;
  @media screen and (max-width: $screen-sm ) {
    padding-bottom: 1em;
  }
}
//Fila con padding-bottom pequeño
.row-bottom-padded-sm {
  padding-bottom: 1em;
  @media screen and (max-width: $screen-sm ) {
    padding-bottom: 1em;
  }
}

// *********************************************************************************************************************
//     Iconos Redes Sociales
// *********************************************************************************************************************
.icons-social {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    @include inline-block;
    a {

      font-size: 22px;
      color: $brand-white;
      padding: 0;
      margin: 0;
      // background: $color-primary;
      padding: 2px;
      @include inline-block;
      @include border-radius(4px);
      @media screen and (max-width: $screen-sm) {
      }
      &:hover {
        color: $color-primary;
      }
      &:hover, &:active, &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }
}

.bac-white {
  background-color: #fff !important;
}

// *********************************************************************************************************************
//     Framework de Animaciones
// *********************************************************************************************************************
//.animate-box {
//  .js & {
//    opacity: 0;
//  }
//}

// *********************************************************************************************************************
//     Estilos del Scroll del navegador
// *********************************************************************************************************************
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  background: $brand-white;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 4px;
  background: $color-primary;
}

// Espacios
.width-80 {
  width: 300px !important;
}
// Alto maximo
$heights: (
  100,
  200,
  300,
  400,
  600,
  700,
  800,
  900,
  1000,
);

@each $height in $heights {
  .max-height-#{$height} {
    max-height: #{$height}px !important;
  }
  .max-width-#{$height} {
    max-width: #{$height}px !important;
  }
}

$sizes: (
  xs,
  sm,
  md,
  lg,
  xl
);

@each $size in $sizes {
  $i: index($sizes, $size);
  .margin-#{$size} {
    margin-left: 1em * $i !important;
    margin-right: 1em * $i !important;
  }
}

@each $size in $sizes {
  $i: index($sizes, $size);
  .space-#{$size} {
    margin-top: 1em * $i;
    margin-bottom: 1em * $i;
  }
}

@each $size in $sizes {
  $i: index($sizes, $size);
  .padding-#{$size} {
    padding: 1.5em * $i !important;
  }
}

.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.no-border {
  border: none !important;
}
// Sin background
.no-background {
  background: none !important;
  background-color: transparent !important;
}

// Margin a los lados
.col-space-xs-l {
  margin-left: 1em !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
//No margenes
.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.padding-x-xs {
  padding-left: .2em !important;
  padding-right: .2em !important;
}

.padding-x-md {
  padding-left: 1.1em !important;
  padding-right: 1.1em !important;
}

.white-text {
  color: #f3f3f3 !important;
}

.custom-text {
  color: #86D7B0 !important;
}

.label-custom {
  font-size: .5em !important;
}

.text-md {
  font-size: 1.125rem !important;
}

.font-size-09 {
  // Lista de home
  font-size: .85em !important;
}
.font-size-xxs {
  font-size: 8px !important;
}
.font-size-xs {
  font-size: 14px !important;
}
.font-size-sm {
  font-size: 18px !important;
}
.font-size-md {
  font-size: 1.5em !important;
}
.font-size-lg {
  font-size: 2.5em !important;
}

.no-display {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}


