extends ./layout/layoutIndex

block title
  title Registro de Usuarios

block main
  .row.center-xs
    .col-xs-8
      h3 Registrate
  include ./layout/errorMessage
  .row.center-xs
    .col-xs-5
      form(method="POST" action="/accounts/signup")
        .input-field.col.s12
          label(for="email") Correo:
          input(type="email", class="validate", name="email", id="email" data-length="60" required)
        .input-field.col.s12
          label(for="password") Contraseña:
          input(type="password", class="validate", name="password", id="password" placeholder="minimo 8 caracteres" data-length="16" required)
        div
          input(type="submit", class="btn grey darken-4", name="btn", id="btn", value="Sign up")
        div.top-space
          a(href="/accounts/signin" class="waves-effect waves-teal btn-flat") Ya tengo cuenta
