//******************************************************************************************************************
//        Seccion donde se muestran los conceptos del Observatorio, Vision, Mision, Perfil
//******************************************************************************************************************
#gtco-features(style="background: url(images/7.jpg) no-repeat center center fixed; background-size: cover")
  .gtco-container
    .row.center-xs
      h2 Conceptos acerca del OTecH
    .row
      .col-md-4.col-sm-4
        .feature-center
          span.icon
            .icono.icon-eye
          h3 Vision
          p Llegar al 2018 como una organización de vinculación de gran calidad y alto impacto, entre los diversos agentes económicos y sociales del Estado de Hidalgo, a fin de propiciar que la Inteligencia Económica, sea su principal práctica productiva, para desarrollar y consolidar sus capacidades competitivas a nivel global.
      .col-md-4.col-sm-4
        .feature-center
          span.icon
            .icono.icon-clock
          h3 Mision
          p Ser un campo tecnológico virtual de articulación sinérgica entre empresas, IES, CI&D e Instituciones Públicas y Privadas, para impulsar el desarrollo de capacidades tanto tecnológicas, organizacionales y de mercado, con el propósito de posicionar a las empresas hidalguenses en nivel de liderazgo  en la economía del conocimiento.
      .col-md-4.col-sm-4
        .feature-center
          span.icon
            .icono.icon-bar-chart
          h3 Perfil
          p Es un campo tecnológico virtual que facilita, desarrolla, optimiza la vinculación, comunicación, colaboración entre empresas, instituciones educativas y centros de investigación.
