//******************************************************************************************************************
//        Seccion final del Observatorio
//******************************************************************************************************************
#fh5co-footer(role='contentinfo')
  .container
    .row
      .col-md-4.to-animate
        h3.section-title Acerca de Nosotros
        p El Observatorio Tecnológico de Hidalgo, nace como una idea hecha proyecto, fue aprobado y apoyado por CONACYT a través de los fondos mixtos. El cuál cuenta con personal altamente capacitado y certificado para brindar servicios de calidad.
        p.copy-right
          | © 2017 Observatorio Tecnologico del Esatdo de Hidalgo.
          br
          | All Rights Reserved.
          br
          | Designed by Team Raster
      .col-md-4.to-animate
        h3.section-title Nuestra direccion
        ul.contact-info
          li
            i.icon-location
            | Carretera Pachuca-Tulancingo
            | Km. 4.5,. Cd. Universitaria,
            | edificio CEVIDE tercer piso.
          li
            i.icon-phone
            | 01 771 717 2000 ext. 6132
          li
            i.icon-envelope
            a(href='#') administrador.otech@uaeh.edu.mx
        h3.section-title Contactanos
        ul.social-media
          li: a.twitter(href='#' data-tooltip="Sigueno en Twitter" data-position="bottom left")
              i.icon-twitter
          li: a.dribbble(href='#' data-tooltip="Sigueno en Linkedin" data-position="bottom left")
              i.icon-linkedin
          li: a.github(href='https://www.facebook.com/otechuaeh/?fref=ts' data-tooltip="Sigueno en Facebook" data-position="bottom left")
              i.icon-facebook-official
      .col-md-4.to-animate
        h3.section-title Envianos tu opinion
        form.contact-form
          .form-group
            input#name.form-control(type='name', placeholder='Name')
          .form-group
            input#email.form-control(type='email', placeholder='Email')
          .form-group
            textarea#message.form-control(rows='7', placeholder='Message')
          .ui.animated.button(tabindex='0')
            .visible.content Enviar
            .hidden.content
              i.right.arrow.icon
