//-******************************************************************************************************************
//-        Seccion del menu principal de navegacion
//-******************************************************************************************************************
#fh5co-page
  header#fh5co-header(role='banner')
    .container
      .header-inner
        h1
          i.icon-globe
          a(href='/') OTecH
        nav(role='navigation')
          ul
            block menu

            