//******************************************************************************************************************
//        Seccion donde se muestra las principales ofertas que existen
//******************************************************************************************************************
#gtco-portfolio.gtco-section(style="background-image: url(images/s3.jpg); background-attachment: fixed;")
  .gtco-container
    .row
      .col-md-8.col-md-offset-2.gtco-heading
        h2 Nuestras ofertas
    .row.row-pb-md
      .col-md-12
        ul#gtco-portfolio-list
          li.two-third
            a.color-1(href='#' style="background-image: url(images/image_6.jpg);")
              .case-studies-summary
                span Diseño web
                h2 Impresionante oferta1
          li.one-third
            a.color-2(href='#' style="background-image: url(images/image_6.jpg);")
              .case-studies-summary
                span Illustracion
                h2 Aprovecha
          li.one-half
            a.color-3(href='#' style="background-image: url(images/image_6.jpg);")
              .case-studies-summary
                span Matematicas
                h2 ¿Buscas ayuda?
          li.one-half
            a.color-4(href='#' style="background-image: url(images/image_6.jpg);")
              .case-studies-summary
                span Diseño web
                h2 Crea hermosos sitios web
    .row.center-xs
      .col-md-4
        a.btn.btn-oferta(href='#') Ver todas las ofertas
