//******************************************************************************************************************
//        Seccion donde se muestran las publicaciones del Observatorio
//******************************************************************************************************************
#publications
  .container
    .row.center-xs
      h2 Conoce nuestras publicaciones
    .row
      .col-md-6
        a(href="#" class="featured-grid" style="background-image: url(images/image_6.jpg);")
          .desc
            h3 Columna Sinergia
            span Articulos
      .col-md-6
        a(href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_2.jpg);")
          .desc
            h3 Noticias
            span Noticias mas relevantes
        .row.grid2
          .col-md-6
            a(href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_3.jpg);")
              .desc
                h3 Podcast
                span Podcast de la radio UAEH
          .col-md-6
            a(href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_8.jpg);")
              .desc
                h3 Visita nuestro canal
                span Canal de Youtube
