//******************************************************************************************************************
//        Seccion donde se muestran las publicaciones del Observatorio
//******************************************************************************************************************
#publications
  .container
    .row.center-xs
      h2 Conoce nuestras publicaciones
    .row
      .col-md-6
        a(href="#" class="featured-grid" style="background-image: url(http://lorempixel.com/520/520);")
          .desc
            h3 Columna Sinergia
            span Articulos
      .col-md-6
        a(href="#" class="featured-grid featured-grid-2" style="background-image: url(http://lorempixel.com/500/250);")
          .desc
            h3 Noticias
            span Noticias mas relevantes
        .row.grid2
          .col-md-6
            a(href="#" class="featured-grid featured-grid-2" style="background-image: url(http://lorempixel.com/250/250);")
              .desc
                h3 Podcast
                span Podcast de la radio UAEH
          .col-md-6
            a(href="#" class="featured-grid featured-grid-2" style="background-image: url(http://lorempixel.com/250/250);")
              .desc
                h3 Visita nuestro canal
                span Canal de Youtube
