//******************************************************************************************************************
//        Seccion donde se muestran los servicios del Observatorio
//******************************************************************************************************************
#service.services-agileits
  .services-info
    .row
      .col-md-7.services-left
      .col-md-5.services-right-agileinfo
        .right-header-w3ls
          h3.tittle Nuestros Servicios
          p Proin tincidunt imperdiet massa non aliquet. Nullam vestibulum sem vitae ante aliquam, eget aliquet sapien vehicula.
        .service-grids-wthree
          .grid
            .service-icon
              i.icon-phone
            h4 Lorem ipsum
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut metus sit amet magna vehicula eleifend in in urna.
          .grid
            .service-icon
              i.icon-phone
            h4 Lorem ipsum
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut metus sit amet magna vehicula eleifend in in urna.
          .grid
            .service-icon
              i.icon-phone
            h4 Lorem ipsum
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut metus sit amet magna vehicula eleifend in in urna.
      .clearfix
