//******************************************************************************************************************
//        Seccion del slider principal de imagenes sobre el observatorio
//******************************************************************************************************************
section#home
//-   .container
//-     .row
//-       .col-md-12.col-sm-12
//-         h3 Observatorio Tecnologico del Estado de Hidalgo
//-         h1 UAEH
//-         hr
//-         a.smoothScroll.btn.btn-singin(href='#work') Iniciar Sesion
//-         a.smoothScroll.btn.btn-singup(href='#contact') Registrarse

