//-******************************************************************************************************************
//-        Seccion, Que ofrece el Observatorio tecnologico
//-******************************************************************************************************************
.row.center-xs.whatweoffer
  .col-xs-12.col-md-5.offer-left
  .col-xs-12.col-md-5.offer-right
    .container
      h2 Que es el OTecH
      h4 Observatorio Tecnologico del Estado de Hidalgo
      p Es un campo tecnológico virtual que facilita, desarrolla, optimiza la vinculación, comunicación, colaboración entre empresas, instituciones educativas y centros de investigación. Las cuáles son generadoras de conocimientos aplicables a los procesos productivos sin faltar la participación de organismos públicos desde la óptica de políticas que en conjunto impulsen el desarrollo de las capacidades tecnológicas y organizacionales que concreten la innovación en cuatro dimensiones: procesos productivos, productos y servicios, organización y mercado.
