.row.center-xs
  .col-xs-10.start-xs
    if (err != "" && err !== undefined)
      .ui.mini.negative.message.transition.space-xs
        i.close.icon
        .header
          | ¡Houston, tenemos un problema!
        p= ' ' + err
    if (warning != "")
      .ui.mini.yellow.message.transition.space-xs
        i.close.icon
        .header
          | ¡Alerta!
        p= ' ' + warning
    if (info != "")
      .ui.mini.teal.message.transition.space-xs
        i.close.icon
        .header
          | ¡Su atencion por favor!
        p= ' ' + info
    if (success != "")
      .ui.mini.green.message.transition.space-xs
        i.close.icon
        .header
          | ¡Bien Hecho!
        p= ' ' + success
script.
  $('.message .close')
    .on('click', function () {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;

