// *********************************************************************************************************************
//     Nuestras Publicaciones
// *********************************************************************************************************************
#publications {
  background-color: $brand-white;
  padding-bottom: 6em;
  padding-top: 6em;
  h2{
    font-weight: 400;
    font-size: 3em;
    font-family: $font-secondary;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 1em;
  }
  .grid2 {
    border: 1px solid transparent;
  }
  @media screen and (max-width: $screen-sm) {
    padding: 3em 0;
  }
  .featured-grid{
    width: 100%;
    height: 510px;
    float: left;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    @include border-radius(4px);
    @media screen and (max-width: $screen-md) {
      margin-bottom: 30px;
      height: 400px;
    }
    &:after{
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      @include transition(.3s);
      @include border-radius(4px);
    }
    &.featured-grid-2 {
      @extend .featured-grid;
      height: 240px;
      margin-bottom: 30px;
      @media screen and (max-width: $screen-md) {
        height: 400px;
      }
    }
    .desc {
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      padding: 30px;
      z-index: 9;
      @include transition(.3s);
      h3{
        font-family: $font-primary;
        color: rgba($brand-white,.9);
        margin-bottom: 10px;
      }
      span{
        color: rgba($brand-white,.5);
      }
    }

    &:hover, &:focus{
      -webkit-box-shadow: 0px 18px 43px -7px rgba(0,0,0,0.32);
      -moz-box-shadow: 0px 18px 43px -7px rgba(0,0,0,0.32);
      -ms-box-shadow: 0px 18px 43px -7px rgba(0,0,0,0.32);
      -o-box-shadow: 0px 18px 43px -7px rgba(0,0,0,0.32);
      box-shadow: 0px 18px 43px -7px rgba(0,0,0,0.32);
      &:after{
        background: rgba($brand-black,.3);
      }
      .desc{
        bottom: 0px;
      }
    }
  }
}
