
<div class="content_form">
  <div class="ui segment">
    <form class="ui fluid form">
      <div class="ui accordion">
        <div class="content field">
          <div class="field">
            <label>Titulo de la Oferta</label>
            <input type="text" name="titulOferta" placeholder="Oferta"/>
          </div>
        </div>
        <div class="title active"><i class="icon dropdown"></i>        Datos de la empresa</div>
        <div class="content field active">
          <div class="two fields">
            <div class="field">
              <label>Nombre de la empresa</label>
              <input type="text" name="nombre-empresa" placeholder="Nombre"/>
            </div>
            <div class="field">
              <label>Giro de la empresa</label>
              <input type="text" name="giro-empresa" placeholder="Giro de la empresa"/>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Direccion</label>
              <input type="text" name="direccion-empresa" placeholder="Direccion de la empresa"/>
            </div>
            <div class="field">
              <label>Correo electronico</label>
              <input type="email" placeholder="correo@ejemplo.com"/>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Pagina Web</label>
              <input type="text" placeholder="Pagina web"/>
            </div>
          </div>
          <div class="field">
            <label>Seleccione una imagen o logo de la empresa</label>
            <input type="file"/>
          </div>
        </div>
        <div class="title"><i class="icon dropdown"></i>        Servicios</div>
        <div class="content field">
          <div class="field">
            <label>Acerca de la empresa</label>
            <textarea rows="3" name="acerca-empresa" placeholder="¿Quienes somos?"></textarea>
          </div>
          <div class="field">
            <label>Servicios</label>
            <textarea rows="3" name="servicios-empresa" placeholder="Productos y/o Servicios"></textarea>
          </div>
        </div>
        <div class="title"><i class="icon dropdown"></i>       Datos de Contacto</div>
        <div class="content field">
          <div class="two fields">
            <div class="field">
              <label>Nombre del contacto</label>
              <input type="text" name="nombre-contacto" placeholder="Nombre del contacto"/>
            </div>
            <div class="field">
              <label>Cargo del contacto</label>
              <input type="text" name="cargo-contacto" placeholder="Cargo del contacto"/>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Telefono de contacto</label>
              <input type="text" name="telefo-contacto" placeholder="Telefono de contacto"/>
            </div>
          </div>
          <div class="field">
            <label>Correo de contacto</label>
            <input type="text" name="correo-contacto" placeholder="Correo de contacto"/>
          </div>
        </div>
      </div>
      <div class="ui secondary submit button">Publicar Oferta</div>
    </form>
  </div>
</div>
<script>
  $('.ui.accordion')
    .accordion()
  ;
</script>