.content_form
  .ui.segment
      form.ui.fluid.form
        .ui.accordion
          .content.field
            .field
              label Titulo de la Demanda
              input(type="text" name="tituloDemanda" placeholder="Titulo de la demanda")
          .title.active
            i.icon.dropdown
            |         Datos de la empresa
          .content.field.active
            .two.fields
              .field
                label Nombre
                input(type='text', name='empresaDemanda', placeholder='Nombre')
              .field
                label Giro de la empresa
                input(type='text', name='giroDemanda', placeholder="Giro de la empresa")
            .two.fields
              .field
                label Direccion de la empresa
                input(type="text" name="direccionDemanda" placeholder="Direccion de la empresa")
              .field
                label Telefono
                input(type="email" placeholder="correo@ejemplo.com")
            .two.fields
              .field
                label Telefono
                input(type="text" name="telefonoDemanda" placeholder="Telefono")

          .title
            i.icon.dropdown
            |         Servicios
          .content.field
            .field
            label Descripcion de la demanda (sea especifico)
            textarea(rows="6" name="acerca-empresa" placeholder="Actividad que se desea resolver")
          .title
            i.icon.dropdown
            |        Datos de Contacto
          .content.field
            .field
              label Nombre del contacto
              input(type='text', name='nombre-contacto', placeholder='Nombre del contacto')
            .two.fields
              .field
                label Telefono de contacto
                input(type='text', name='telefo-contacto', placeholder='Telefono de contacto')
              .field
                label Correo de contacto
                input(type='text', name='correo-contacto', placeholder='Correo de contacto')
        .ui.secondary.submit.button Publicar Demanda


script.
  $('.ui.accordion')
    .accordion()
  ;
