.contenedor-tabla
  table.ui.single.line.table.striped
    thead
      tr
        th ID
        th Nombre de la Oferta
        th Usuario que la publico
        th E-mail
        th No. Visitas
        th Fecha de Publicación
        th Categoria(s)
        th Funciones
    tbody
      tr
        td 1
        td Desarrollo de Web y Movil
        td Raster Studios inc.
        td exampl@alog.com
        td 5
        td Novenber 13, 2016
        td Tecnologia Software
        td
          a(href="" data-tooltip="Ver" data-position="bottom center"): i.unhide.icon
          a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
          a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon
      tr
        td 2
        td Cool Photographs
        td EL buen john
        td exampl@alog.com
        td 5
        td January 11, 2014
        td tecnologia
        td
          a(href="" data-tooltip="Ver" data-position="bottom center"): i.unhide.icon
          a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
          a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon

      tr
        td 3
        td Interesting develop
        td EL buen john
        td exampl@alog.com
        td 5
        td January 11, 2014
        td tecnologia
        td
          a(href="" data-tooltip="Ver" data-position="bottom center"): i.unhide.icon
          a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
          a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon
      tr
        td 4
        td Super quesos la vaca que rie
        td EL buen john
        td exampl@alog.com
        td 5
        td January 11, 2014
        td tecnologia
        td
          a(href="" data-tooltip="Ver" data-position="bottom center"): i.unhide.icon
          a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
          a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon
      tr
        td 5
        td ÑAÑAÑAÑÑAÑAÑAÑA
        td EL buen john
        td exampl@alog.com
        td 5
        td January 11, 2014
        td tecnologia
        td
          a(href="" data-tooltip="Ver" data-position="bottom center"): i.unhide.icon
          a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
          a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon
      tr
        td 6
        td Interesting develop
        td EL buen john
        td exampl@alog.com
        td 5
        td January 11, 2014
        td tecnologia
        td
          a(href="" data-tooltip="Ver" data-position="bottom center"): i.unhide.icon
          a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
          a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon
      tr
        td 7
        td Super quesos la vaca que rie
        td EL buen john
        td exampl@alog.com
        td 5
        td January 11, 2014
        td tecnologia
        td
          a(href="" data-tooltip="Ver" data-position="bottom center" ): i.unhide.icon
          a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
          a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon
      tr
        td 8
        td ÑAÑAÑAÑÑAÑAÑAÑA
        td EL buen john
        td exampl@alog.com
        td 5
        td January 11, 2014
        td tecnologia
        td
          a(href="" data-tooltip="Ver" data-position="bottom center"): i.unhide.icon
          a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
          a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon

