- var card = 0;
.row
  while card < 8
    .col-xs-3.grid-card
      .ui.card.card-panel
        a.image(href='single.html')
          img(src='http://lorempixel.com/310/310/')
        .content
          a.header(href='single.html') Fondo Nacional #{card++}
          .meta
            a Creado el #{card} de Agosto del 2016
