.imagen-impi
  .title-banner
    h2 IMPI
    p El Instituto Mexicano de la Propiedad Industrial  es un Organismo público descentralizado con personalidad jurídica, patrimonio propio y autoridad legal para administrar el sistema de propiedad industrial en nuestro país.​ En el país, es el único organismo con la facultad legal de otorgar o rechazar el título de propiedad de marcas y patente.
.central
  .under-heading
    h2 Publicaciones
  hr
  .container-publications
    .ui.cards
      .card
        .image.ui.fluid.image
          a.ui.blue.ribbon.label Publicación
          img(src='http://lorempixel.com/250/150')
        .content
          .header Impi cifras
          .description
            | Cifras 1993 - enero / junio 2016
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/cms/uploads/attachment/file/119017/IMPI_en_CIFRAS_ene_jun_2016.pdf" target="_blank").ui.primary.button
            i.play.icon
            |       Ver más...

      .card
        .image.ui.fluid.image
          a.ui.blue.ribbon.label Publicación
          img(src='http://lorempixel.com/250/150')
        .content
          .header Informe Anual
          .description
            | Informe Anual
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/cms/uploads/attachment/file/106492/IA2015.pdf" target="_blank").ui.primary.button
            i.play.icon
            |       Ver más...

  .under-heading
    h2 Publicaciones
  hr

  .container-publications.ui.raised.segment
    .mycard.ui.raised.segment
      .cont1
        img(src="/images/triptico_patentes.png", alt="")
      .cont2
        h3 Tripticos
        p.description Patentes
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/cms/uploads/attachment/file/131094/Triptico_Patentes.pdf").ui.primary.button
            i.play.icon
            |       Ver

    .mycard.ui.raised.segment
          .cont1
            img(src="/images/t_signos.png", alt="")
          .cont2
            h3 Tríptico
            p.description Signos Distintivos
            .ui.two.bottom.attached.buttons
              a(href="http://www.gob.mx/cms/uploads/attachment/file/131099/Triptico_Signos_Distintivos.pdf").ui.primary.button
                i.play.icon
                |       Ver
    .mycard.ui.raised.segment
      .cont1
        img(src="/images/t_nombcomercial.png", alt="")
      .cont2
        h3 Tríptico
        p.description Nombre Comercial
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/cms/uploads/attachment/file/131086/Triptico_Nombre_Comercial.pdf").ui.primary.button
            i.play.icon
            |       Ver

    .mycard.ui.raised.segment
          .cont1
            img(src="/images/g_registro_marcas.png", alt="")
          .cont2
            h3 Guía del Usuario
            p.description Registro de marcas
            .ui.two.bottom.attached.buttons
              a(href="http://www.gob.mx/cms/uploads/attachment/file/54262/GDU_Marcas.pdf").ui.primary.button
                i.play.icon
                |       Ver
    .mycard.ui.raised.segment
      .cont1
        img(src="/images/gsi.png", alt="")
      .cont2
        h3 Guía de Invenciones
        p.description Patentes y Modelos
        .ui.two.bottom.attached.buttons
          a(href="http://www.conacyt.gob.mx/index.php/becas-y-posgrados/becas-en-el-extranjero").ui.primary.button
            i.play.icon
            |       Ver

    .mycard.ui.raised.segment
          .cont1
            img(src="/images/G_diseño_ind.png", alt="")
          .cont2
            h3 Guía del Usuario
            p.description Diseños Industriales
            .ui.two.bottom.attached.buttons
              a(href="http://www.conacyt.gob.mx/index.php/becas-y-posgrados/becas-en-el-extranjero").ui.primary.button
                i.play.icon
                |       Ver




  .under-heading
    h2 Publicaciones

  .container-publications.ui.raised.segment
    .ui.cards
      .card
        .image.ui.fluid.image
          a.ui.blue.ribbon.label Comunicado
          img(src='http://lorempixel.com/250/150')
        .content
          .header
            | esto cambia
          .description
            |
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/impi/prensa/el-instituto-mexicano-de-la-propiedad-industrial-otorga-a-oxxo-la-declaratoria-de-marca-famosa" target="_blank").ui.primary.button
            i.play.icon
            |       Ver más...

      .card
        .image.ui.fluid.image
          a.ui.blue.ribbon.label Comunicado
          img(src='http://lorempixel.com/250/150')
        .content
          .header
            | esto cambia
          .description
            |
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/impi/prensa/firman-convenio-de-colaboracion-el-instituto-mexicano-de-la-propiedad-industrial-y-el-observatorio-nacional-ciudadano" target="_blank").ui.primary.button
            i.play.icon
            |       Ver más...

      .card
        .image.ui.fluid.image
          a.ui.blue.ribbon.label Comunicado
          img(src='http://lorempixel.com/250/150')
        .content
          .header
            | esto cambia
          .description
            |
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/impi/prensa/cultur-suscribe-convenio-con-el-impi" target="_blank").ui.primary.button
            i.play.icon
            |       Ver más...

  .under-heading
    h2 Articulos
  hr

  .container-publications
    .ui.cards
      .card
        .image.ui.fluid.image
          a.ui.blue.ribbon.label Comunicación Social
          img(src='/images/signos.jpg')
        .content
          .header Esto cambia
          .description
            | Esto tambien asi que hay que preguntarle a mariel
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/impi/articulos/inscribete-a-los-cursos-que-ofrece-el-impi-102577?idiom=es" target="_blank").ui.primary.button
            i.play.icon
            |       Ver más...

      .card
        .image.ui.fluid.image
          a.ui.blue.ribbon.label esto cambia
          img(src='/images/cursos.jpg')
        .content
          .header esto tambien cambia
          .description
            | esto igual nunca esta fijo
        .ui.two.bottom.attached.buttons
          a(href="http://www.gob.mx/impi/articulos/conoces-el-tramite-para-usar-la-marca-hecho-en-mexico?idiom=es" target="_blank").ui.primary.button
            i.play.icon
            |       Ver más...
