.central
  .under-heading
    h2 PROMEP
  .ui.two.column.grid.raised.segment
    .column
      p El OTecH en conjunto con PROMEP pone a dispisición un sistema de indicadores de investigación para incorporar las actividades de investigacion desarrolladas al interior de la Universidad Autónoma del Estado de Hidalgo (UAEH).

      p Este sistema incluye actividades de investigación y académica de cada profesor ensu área de adscripción.

      p para acceder da
      a(href="") click Aqui
      p 1- Localice la pestaña indicadores
      p 2- De click y seleccione la opción de tu interes
      p 3- Se mostrara el listado correspondiente
      p 4- Si desea más detalle de clic en el icono que aparece al lado de los indicadores

    .column
      .image.ui.fluid.image
        a.ui.blue.ribbon.label Publicación
        img(src='/images/worlmap.png')


  .under-heading
      h2 Investigación Nacional
  .ui.two.column.grid.raised.segment
    .column
      .image.ui.fluid.image
        a.ui.blue.ribbon.label Publicación
        img(src='/images/worlmap.png')
    .column
      p El SNI tiene por objeto promover y fortalecer a través de la evaluación, la calidad de la investigación cientifica y tecnológica, y la innovación que se produce en el país. El sistema contribuye a la formacion y consolidación de investigadores con conocimientos cientifícos y tecnológicos del mas alto nivel como un elemento fundamental para incrementar la cultura, productividad, competitividad y bienestar social.

      p Para consultar el directorio SNI de
        a(href="")    Click Aquí
      p Para consultar investigaciones CONACYT
        a(href="")    Click Aquí
      p Para consultar foro consultivo
        a(href="")    Click aquí






