- var card = 0;
.row
  while card < 10
    .col-xs-3.grid-card
      .ui.special.cards
        .card.center-panel
          .blurring.dimmable.image
            .ui.dimmer
              .content
                .center
                  a.ui.inverted.button(href="single.html") Ver mas
            img(src='http://lorempixel.com/290/290/')
          .content
            a.header Resultado #{card++}
            .meta
              span.date Creado el #{card} de Septiembre del 2016
          .extra.content
            a
              i.users.icon
              | #{card} Resultados
script.
  $('.special.cards .image').dimmer({
    on: 'hover'
  });

  //-   .extra.content
  //-     a
  //-       i.users.icon 2 Members
