extends ../../layout/layoutIndex

block title
  title Editar Noticia

block main
  .row.center-xs
    .col-xs-5
      h3 Editar la Noticia #{id}
  .row.center-xs
    .col-xs-5

      form(method="POST" action="/news/" + id + "?_method=PUT")
        .input-field.col.s12
          label(for="title") Título:
          input(type="text", class="validate", name="title", id="business")
        .input-field.col.s12
          textarea.materialize-textarea(type="text" rows= "5" id="sample5" data-length="100")
          label(class="mdl-textfield__label" for="sample5" name="text") Contenido texto
        .input-field.col.s12
          label(for="category") Categoria:
          input(type="text", class="validate", name="category", id="category")
        .input-field.col.s12
          .file-field.input-field
            .btn
              span File
              input(type="file", name="image", id="image")
            .file-path-wrapper
              input(type="text", class="file-path validate")
        div
          input(type="submit", class="btn", name="btn", id="btn", value="Publicar")

      form(method="POST" action="/app/no/" + id + "?_method=PUT" )
