<!DOCTYPE html>
html(lang="es")
  head
        meta(charset="UTF-8")
        block title
        link(rel="stylesheet", href="/bower_components/materialize/dist/css/materialize.min.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="/bower_components/flexboxgrid/dist/flexboxgrid.min.css")
        link(rel="stylesheet", href="/css/style.css")

  body
    ul(id="dropdown_groups" class="dropdown-content")
      li: a(href="/groups") View
      li: a(href="/groups/new") New

    ul(id="dropdown_publications" class="dropdown-content")
      li: a(href="/publications") View
      li: a(href="/publications/new") New

    ul(id="dropdown_sessions" class="dropdown-content")
      li(class="divider")
      li: a(href="/accounts/logout") Logout

    nav.grey.darken-3
      .nav-wrapper
        a(href="/" class="brand-logo") Observatorio
        ul(id="nav-mobile" class="right hide-on-med-and-down")
          if(!user)
            li: a(href="/accounts/signin") Signin
            li: a(href="/accounts/signup") Signup
          else if(user)
            li: a(href="/users/profile") My Profile
            li: a(href="/users") Users
            li: a(href="!#" class="dropdown-button" data-activates="dropdown_groups") Groups
            li: a(href="!#" class="dropdown-button" data-activates="dropdown_publications") Publications
            li: a(href="!#" class="dropdown-button" data-activates="dropdown_sessions") Sessions
    block main
    //script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/materialize/dist/js/materialize.min.js")
    script(src="/bower_components/moment/min/moment.min.js")
    script(src="/socket.io/socket.io.js")

    script(src="/bower_components/handlebars-v4.0.5.js")
    //script(src="/js/clientChat.js")
    script(src="/js/clientGroups.js")
    //script(src="/js/client.js")
    script.
      $( document ).ready(function(){
        $(".dropdown-button").dropdown()
      })
